@using Simple.Service.Monitoring.UI.Helpers
@addTagHelper *, Simple.Service.Monitoring.UI

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Monitoring</title>
    <link href="@AssetHelper.GetCssPath("monitoring")" rel="stylesheet" />
    <link href="@AssetHelper.GetCssPath("monitoring-vendors")" rel="stylesheet" />
</head>
<body class="min-h-screen bg-background antialiased">
    @RenderBody()

    <script src="@AssetHelper.GetJsPath("monitoring-vendors")"></script>
    <script src="@AssetHelper.GetJsPath("monitoring")"></script>
</body>
</html>